---
import type { Props } from "@astrojs/starlight/props";

const { data } = Astro.props.entry;
const navs = [
  { text: "Home", link: "/" },
  { text: "Pricing", link: "/guides/pricing" },
  { text: "Download", link: "/guides/download" },
  { text: "Feedback", link: "/guides/feedback" },
];
---

{
  navs.length > 0 && (
    <div class="navs">
      {navs.map(({ text, link }) => (
        <a id="nav" class="nav" href={link}>
          {text}
        </a>
      ))}
    </div>
  )
}

<style>
  .navs {
    display: flex;
  }
  .nav {
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 12px;
    transition: color 0.25s ease 0s;
    color: black;
  }
  a {
    text-decoration: none;
  }
  /* 当鼠标悬停在链接上时改变其样式 */
  a:hover {
    color: blue; /* 例如，将文本颜色变为蓝色 */
  }
</style>
